In [1]:
#  https://www.youtube.com/watch?v=xUE7SjVx9bQ&list=PLfFghEzKVmjvuSA67LszN1dZ-Dd_pkus6&index=2

In [1]:
import pandas as pd
#useful for dataframe
import numpy as np
# useful for arrays 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.shape

(768, 9)

In [5]:
df.info(())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
df['BMI']=df['BMI'].astype('int')

In [8]:
df['BMI'].dtype

dtype('int32')

In [9]:
df['DiabetesPedigreeFunction']=df['DiabetesPedigreeFunction'].astype('int')

In [10]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.548177,0.071615,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.860602,0.277494,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.000000,0.000000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.000000,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.000000,0.000000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.000000,2.000000,81.000000,1.000000

# 25% data values lies below 1, 75% of data values lies below 6

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [14]:
#daibetic are= 268

In [15]:
df['Outcome'].mean()

0.3489583333333333

In [16]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,29.866000,0.046000,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,34.686567,0.119403,37.067164

In [49]:
# seprating  data and labels
# to run regression we need to seprate dependenr and independant variales

In [50]:
x=df.drop('Outcome', axis=1)

In [51]:
y=df['Outcome']

In [52]:
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin  BMI  \
0              6      148             72             35        0   33
1              1       85             66             29        0   26
2              8      183             64              0        0   23
3              1       89             66             23       94   28
4              0      137             40             35      168   43
..           ...      ...            ...            ...      ...  ...
763           10      101             76             48      180   32
764            2      122             70             27        0   36
765            5      121             72             23      112   26
766            1      126             60              0        0   30
767            1       93             70             31        0   30

     DiabetesPedigreeFunction  Age
0                           0   50
1                           0   31
2                           0   32
3                           0   21
4                           2   33
..                        ...  ...
763                         0   63
764                         0   27
765                         0   30
766                         0   47
767                         0   23

[768 rows x 8 columns]

In [53]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# data Standardisation

In [54]:
from sklearn.preprocessing import StandardScaler

In [55]:
scaler=StandardScaler()

In [56]:
scaler.fit(x)

StandardScaler()

In [57]:
standardized_data=scaler.transform(x)

In [58]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.1848165  -0.25824442
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.70628081 -0.25824442
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.08817966 -0.25824442
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.70628081 -0.25824442
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.19708235 -0.25824442
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.19708235 -0.25824442
  -0.87137393]]

In [59]:
X=standardized_data
Y=df['Outcome']

In [60]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.1848165  -0.25824442
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.70628081 -0.25824442
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.08817966 -0.25824442
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.70628081 -0.25824442
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.19708235 -0.25824442
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.19708235 -0.25824442
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [61]:
# Data Split

In [62]:
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [64]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [65]:
# training the model

In [66]:
from sklearn import svm

In [67]:
classifier=svm.SVC(kernel='linear')

In [68]:
#training the SVM classifier

In [77]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [78]:
#Model Evaluation

In [79]:
#Accuracy Score

In [80]:
X_train_prediction=classifier.predict(X_train)

In [81]:
from sklearn.metrics import accuracy_score

In [82]:
training_accuracy_score=accuracy_score(X_train_prediction,Y_train)

In [88]:
print(training_accuracy_score)

0.7736156351791531

In [87]:
# accuracy score on the test data

In [84]:
X_train_prediction=classifier.predict(X_test)

In [85]:
test_data_accuracy=accuracy_score(X_train_prediction,Y_test)

In [86]:
print(test_data_accuracy)

0.7597402597402597

In [89]:
# thought test data has very less data so it gives right result

# Making a predictive system

In [90]:
input_data=()